%br/
%h2 お知らせ
%h3 会場のネットワークについて
.well
  %p 当日のWi-Fiの提供は考えておりませんのでご了承ください。
%h3 懇親会について
.well
  %p お酒も提供しますが、未成年の方に飲ませないよう大人のみなさまが配慮ください。
  %p なお、参加者情報に年齢を入力されていない方も同様にお酒の提供はできませんのでご了承ください。
  %strong お酒は二十歳から
%h3 アンケート「高専カンファレンスで出会ったもの」のご協力のお願い
.well
  %p
    = link_to "EM高専カンファレンス", "http://kosenconf.jp/?EM%E9%AB%98%E5%B0%82%E3%82%AB%E3%83%B3%E3%83%95%E3%82%A1%E3%83%AC%E3%83%B3%E3%82%B9"
    のvol.2を現在作成中です。
    %br/
    vol.2では「高専カンファレンスで出会ったもの」というコーナーを設けました。
    %br/
    そこであなたが高専カンファレンスで出会った人・モノ・コトについて教えてください。
    %br/
    このアンケート結果をvol.2に掲載します！
    %br/
    %br/
    = link_to "アンケートはこちらから", "https://docs.google.com/spreadsheet/viewform?formkey=dFJMWmZsemFoY2V1RzFUOEljUUdHU1E6MQ#gid=0"


