%h2= t(".register")
%p>
  本会に参加するには参加登録をする必要があります。
  参加される方は忘れずに登録してください。
%p>= t(".required_twitter_account")

.well.register
  - if can_attend?
    = link_to(t(".register"), "/auth/twitter")
  - else
    %strong= t(".cannot_registered")
