%h2= t(".register")
%strong 4/5: 要望が多かったため40名へ増員しました。
%p>
  本会に参加するには参加登録をする必要があります。
  参加される方は忘れずに登録してください。
%p>
  %strong なお増員後の参加者に関しては時間の関係上公式な発表枠を設けておりません。
  %br
  懇親会で発表できる場を設けますのでよろしければそこで発表をお願いいたします。

%p>= t(".required_twitter_account")

.well.register
  - if can_attend?
    = link_to(t(".register"), "/auth/twitter")
  - else
    %strong= t(".cannot_registered")
